* {
    font-family: 'Ubuntu', sans-serif;
}
h1 {
    text-align: center;
    padding: 25px;
}
/* background image, stretched to tell a story */
body {
    background-image: url(coopbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.card {
    width: 18rem;
    background-color:#8FF4F7;
}
footer {
    text-align: center;
    padding-bottom: 7px;
}