* {
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
#navHere {
    color: black;
}
h1 {
    text-align: center;
    padding: 25px;
}
/* background image, stretched to tell a story */
body {
    background-image: url(coopbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.card {
    min-width: 38%;
    max-width: 38%;
    background-color: darkslategray;
    margin-bottom: 45px;
}
footer {
    text-align: center;
    padding-bottom: 7px;
}