/* white text especially over the dark backdrop */
* {
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
/* centered headers, cleared with some space on the edges */
h1, h2, h4 {
    text-align: center;
    padding: 25px;
}
/* gotta make that navbar pop */
#navvy {
    background-color: darkslategray;
    margin-left: 25px;
    margin-right: 25px;
}
/* to give the body content space from the footer */
p {
    padding-bottom: 30px;
}
/* centered text */
ul {
    text-align: center;
}
/* this background image says that i work around the clock and while everyone else is asleep */
body {
    background-image: url(../media/earthAtNight.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* transparent && centered to allow for a cleaner aesthetic */
.card { 
    justify-content: center;
    text-align: center;
    background: transparent;
}
/* also transparent because the background is cool */
.lead {
    background-color: transparent;
}
/* gotta make the boot pop too */
footer {
    text-align: center;
    padding-bottom: 7px;
    background-color: darkslategray;
    margin-left: 25px;
    margin-right: 25px;
}