* {
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
h1, h2, h4 {
    text-align: center;
    padding: 25px;
}
p {
    padding-bottom: 30px;
}
ul {
    text-align: center;
}
body {
    background-image: url(earthAtNight.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.card { 
    justify-content: center;
    text-align: center;
    background: transparent;
}
.lead {
    background-color: transparent;
}
footer {
    text-align: center;
    padding-bottom: 7px;
}