* {
    font-family: 'Ubuntu', sans-serif;
}
.display-4 {
    text-align: left;
}
h1 {
    text-align: center;
}
body {
    background-color: grey;
}
.fixed-bottom {
    text-align: center;
}
.card {
    text-align: center;
    background-color: grey;
    border: 1px solid grey;
}
img {
    border:1px solid
}
