* {
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
h1, h2 {
    text-align: center;
    padding: 25px;
}
.carousel-item {
    margin-bottom: 45px;
}
.card {
    background-color: transparent;
    border: transparent;
}
/* placeholder */
body {
    background-image: url(stringTheory.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* always nice to have a congruent footer */
footer {
    text-align: center;
    padding-bottom: 7px;
}