* {
    font-family: 'Ubuntu', sans-serif;
}
h1 {
    text-align: center;
    padding: 25px;
}
h2 {
    text-align: center;
}
body {
    background-color: grey;
}
label {
    color: white; /* clean; contrasts the black well */
}
/* looks much better centered than to either side
but somehow the text floating left looks better than centered */
.container {
    justify-content: center;
}
/* so the footer doesn't overlap the input field */
#exampleFormControlTextarea1 {
    margin-bottom: 50px;
}
/* centered is clean */
footer {
    text-align: center;
    padding-bottom: 7px;
}