/* uplifting and light aesthetic */
* {
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
/* centered, given space */
h1 {
    text-align: center;
    padding: 25px;
}
/* universal navbar css */
#navvy {
    background-color: darkslategray;
    margin-left: 25px;
    margin-right: 25px;
}
/* centered as well, but i liked the submission forms being left-aligned */
h2 {
    text-align: center;
}
/* another placeholder image, as are most */
body {
    background-image: url(../media/carrierBirbs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* looks much better centered than to either side but */
/*somehow the text floating left looks better than centered */
.container {
    justify-content: center;
}
/* so the footer doesn't overlap the input field */
#exampleFormControlTextarea1 {
    margin-bottom: 50px;
}
/* centered is clean */
footer {
    text-align: center;
    padding-bottom: 7px;
    background-color: darkslategray;
    margin-left: 25px;
    margin-right: 25px;
}